[submodule "node-greeting-app"]
	path = node-greeting-app
	url = git@github.com:bstones1225/Terminal-Command.git
[submodule "basic-node-operations"]
	path = basic-node-operations
	url = C:/Program Files/Git/basic-node-operations
